
body>header {
display: block;				/*le block occupe toute la largeur de la page (du conteneur)*/ 
background-color: #47494d;	/*l'arrière-plan du block est de couleur gris)*/ 
min-width:80%;				/*On définit une largeur maximale et une largeur minimale pour éviter les débordements lors de zooms*/ 
max-width:100%;
min-height: 10px;			/*On définit une hauteur maximale et une hauteur minimale pour éviter les débordements lors de zooms*/
max-height: 60px;
margin-top: 5px;			/*On définit un espace entre le début de la page et le block*/
   }



img{
margin-top:10px;			/*On définit un espace entre le block et le haut de l'image*/
display: inline-block;		/*On dispose l'image dans le block précédent(header)*/
min-width : 70px;
max-width : 70px;
min-height: 20px;
max-height: 25px;
margin-left: 7px;			/*On définit un espace entre le conteneur et le block à gauche*/
   }
   
   

ul{
display: inline-block;		/*On place la liste ordonnée sur le meme alignement que le logo (l'image)*/
margin-left:60%;
min-width: 20%;
max-width:30%;
}
  

li{
padding:4px;
text-align:center;
display: inline-block;		/*On place les éléments de la liste ordonnée sur le meme alignement que le logo (l'image)*/
min-width: 40px;
max-width: 80px;
border-radius:5px;			/*On arrondit les bordures des éléments de la liste ordonée)*/
font-weight: bold;			/*On met en gras le texte contenu dans chaque élément*/
background-color: rgb(36,36,36);

}

a{
color:white;				/*On met en blanc le texte contenu dans chaque élément*/
text-decoration:none;}		/*On enlève les traits présents sous les textes des éléments de la liste ordonnée*/

li:hover a {
 color:rgb(183,183,183);}	/*On met en gris clair les textes des éléments de la liste ordonnée losqu'on y passe la souris*/


h1{ 
text-align:center;
font-size:40px;
}
  
h4{
text-align:center;
background-color:grey;
border-radius:10px;
margin-left:40%;
width: 200px;
padding:10px;
height: 20px;
color:white;

}
  