

.error{
	color:white;
	padding:4px;
text-align:center;
display: inline-block;		
min-width: 100%;
max-width: 100%;
border-radius:5px;			
font-weight: bold;			
background-color: red;
}
.nerror{
	color:white;
	padding:4px;
text-align:center;
display: inline-block;		
min-width: 100%;
max-width: 100%;
border-radius:5px;			
		
background-color: green;
}
body>header {
display: block;				/*le block occupe toute la largeur de la page (du conteneur)*/ 
background-color: #47494d;	/*l'arrière-plan du block est de couleur gris)*/ 
min-width:80%;				/*On définit une largeur maximale et une largeur minimale pour éviter les débordements lors de zooms*/ 
max-width:100%;
min-height: 10px;			/*On définit une hauteur maximale et une hauteur minimale pour éviter les débordements lors de zooms*/
max-height: 60px;
margin-top: 5px;			/*On définit un espace entre le début de la page et le block*/
   }



img{
margin-top:10px;			/*On définit un espace entre le block et le haut de l'image*/
display: inline-block;		/*On dispose l'image dans le block précédent(header)*/
min-width : 70px;
max-width : 70px;
min-height: 20px;
max-height: 25px;
margin-left: 7px;			/*On définit un espace entre le conteneur et le block à gauche*/
   }
   
   h1{ 
text-align:center;
font-size:40px;
}

table{
	
	
margin:auto;
}
#in{
	margin-left:31px;
}
#logout{
padding:4px;
text-align:center;
display: inline-block;		
min-width: 2%;
max-width: 10%;
border-radius:5px;			
font-weight: bold;			
background-color: rgb(36,36,36);

}
#button{
	color:white;
text-align:center;
text-decoration:underline;

}

#session_name{
display: inline-block;		
margin-left:60%;
min-width: 20%;
max-width:30%;
color: white;
font-weight: bold;
}

a{
color:white;				/*On met en blanc le texte contenu dans chaque élément*/
text-decoration:none;}	
h2>a{
	color:blue;
text-align:center;
text-decoration:underline;

}

footer {
display: block;				/*le block occupe toute la largeur de la page (du conteneur)*/ 
background-color: #47494d;	/*l'arrière-plan du block est de couleur gris)*/ 
min-width:80%;				/*On définit une largeur maximale et une largeur minimale pour éviter les débordements lors de zooms*/ 
max-width:100%;
min-height: 10px;			/*On définit une hauteur maximale et une hauteur minimale pour éviter les débordements lors de zooms*/
max-height: 30px;
margin-top: 5px;
color: white;			/*On définit un espace entre le début de la page et le block*/
   }
